@model WMS.Domain.ViewModels.Place.PlaceViewModel

@{
    Layout = null;
}

<form asp-action="Save" enctype="multipart/form-data">
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="@Model.Number" class="col-form-label">Номер помещения</label>
            <input class="form-control" asp-for="@Model.Number" />
        </div>
    </div>

    <div>
        <input type="submit" value="Сохранить" class="btn btn-outline-success" />
    </div>
</form>

<style>
    label {
        color: black;
    }
</style>